.card {
    max-width: 400px;
  }
  
  img{
    max-width:none; 
    height:350px; 
    object-fit: cover;
  }

  .mat-card.grow{
    transition : transform 0.5s !important;
}

.mat-card.grow:hover{
    cursor: pointer;
    transform : scale(1.05);
    z-index:98;
} 

.thumbup:hover{
  color:green;
}

.thumbdown:hover{
  color:red;
}

.watched:hover{
  color:yellow;
}

/deep/ .mat-form-field-wrapper {
  padding-bottom: 0!important;
}

/deep/ .mat-card-header-text {
  width: 100%;
}

@media (max-width:600px){
  .show_movies{
    display:none;
  }
  .show_movies_small{
    display:block !important;
  }
  .bigscreen{
    display:none !important;
  }
  .smallscreen{
    display:block !important;
  }
}