.card {
    max-width: 400px;
  }
  
  img{
    max-width:none; 
    height:350px; 
    object-fit: cover;
  }

  .plot_container{
    position:absolute; 
    bottom:10px; 
    width:100%; 
    font-size:12px; 
    background-color:#303030b9; 
    border-radius:5px; 
    padding:10px;
  }

/deep/ .mat-card-actions {
  margin-top: -20px!important;
}

/deep/ .mat-drawer-container {
  background-color: black;
}

  .mat-card{
    background-color: #1e272e;
  }

  .mat-card.grow{
    transition : transform 0.5s !important;
}

.mat-card.grow:hover{
    cursor: pointer;
    transform : scale(1.02);
    z-index:98;
} 

.thumbup:hover{
  color:green;
}

.thumbdown:hover{
  color:red;
}

.watched:hover{
  color:yellow;
}

/deep/ .mat-form-field-wrapper {
  padding-bottom: 0!important;
}

/deep/ .mat-card-header-text {
  width: 100%;
}

/deep/ .mat-card>:first-child{
  margin-top: -7px!important;
  margin-bottom: 5px;
}

@media (max-width:600px){

  .mat-card.grow:hover{
    cursor: pointer;
    transform : none!important;
    z-index:98;
} 

  .show_movies{
    display:none;
  }
  .show_movies_small{
    display:block !important;
  }
  .bigscreen{
    display:none !important;
  }
  .smallscreen{
    display:block !important;
  }
}

/deep/ .mat-drawer{
  background-color: #1e272e;
}