<div class='fixed w-100' style="z-index: 99; background-color:black;">
  <div style='display:none;' class="tc smallscreen">
    <h1 routerLink="" class='pointer pl1 f3 bg-black' style="margin-top: 0px!important; margin-bottom:0px;">
      <fa-icon [icon]="faFilm" class='mr3' style="color:#ff0000"></fa-icon>CineReco
    </h1>
    <div class='f7'>
      <mat-form-field (keyup)='applyFilter()' [(ngModel)]='filters.title' style='width:80vw' appearance="outline"
        ngDefaultControl>
        <mat-label>Search</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  <div style="text-align:center" class="f7">
    <mat-checkbox class='show_movies_small' style="display: none;" [(ngModel)]="sidenav_open">Show
      selected movies
    </mat-checkbox>
  </div>
</div>

<div class="smallscreen w-100" style="height:100px; display:none">
</div>

<div fxLayout="row wrap" fxLayoutAlign="center center" class="bigscreen bg-black" style="height:100%;">
  <h1 routerLink="" class='pointer' style="margin:3px!important;">
    <fa-icon [icon]="faFilm" class='mr3' style="color:#ff0000;">
    </fa-icon>CineReco
  </h1>
  <div class='f7'>
    <mat-form-field (keyup)='applyFilter()' [(ngModel)]='filters.title' style='min-width:200px; width:20vw;'
      appearance="outline" class="pl5" ngDefaultControl>
      <mat-label>Search</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <div class='ml5'>
    <button mat-raised-button color="primary" style='width:20vw; min-width:200px; height:45px' (click)="generateReco()"
      [disabled]="liked.length == 0 || generation_disabled">

      <span id="title">Generate
        recomandation</span>

      <span style="display:none" id="spinner">
        <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
      </span>
    </button>
  </div>
  <mat-checkbox class='show_movies_small ml4' [(ngModel)]="sidenav_open">Show
    selected movies
  </mat-checkbox>
</div>

<div style='display:none; width:100vw; z-index:99; bottom: 0%; background-color:black'
  class="mt1 pb2 smallscreen fixed pt1">
  <div fxLayout="column" fxLayoutAlign="center center">
    <button mat-raised-button color="primary" style='width:90vw;' (click)="generateReco()"
      [disabled]="liked.length == 0 || generation_disabled">
      <span id="title">Generate
        recomandation</span>
      <span style="display:none" id="spinner">
        <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
      </span>
    </button>
  </div>
</div>

<mat-sidenav-container style="height:100%;">
  <mat-sidenav #sidenav mode="side" position="end" style="width:20vw; min-width:250px; z-index:1;"
    [(opened)]="sidenav_open" class='pa2'>
    <div fxLayout="row" fxLayoutAlign="flex-end" class="w-100">
      <mat-icon class='pointer' (click)='sidenav_open = !sidenav_open'>close</mat-icon>
    </div>
    <h2>Liked</h2>
    <li *ngFor="let mv of liked_full">
      <div class="dib" [matTooltip]="mv.title">
        {{ (mv.title.length > 25) ? (mv.title | slice:0:25) + '...' : mv.title }}</div> <span class="red pl3 pointer"
        matTooltip="remove" (click)="like(mv)">x</span>
    </li>
    <h2>Disliked</h2>
    <li *ngFor="let mv of disliked_full">
      <div class="dib" [matTooltip]="mv.title">
        {{ (mv.title.length > 25) ? (mv.title | slice:0:25) + '...' : mv.title }}</div> <span class="red pl3 pointer"
        matTooltip="remove" (click)="dislike(mv)">x</span>
    </li>
    <h2>Watched</h2>
    <li *ngFor="let mv of watched_full">
      <div class="dib" [matTooltip]="mv.title">
        {{ (mv.title.length > 25) ? (mv.title | slice:0:25) + '...' : mv.title }}</div> <span class="red pl3 pointer"
        matTooltip="remove" (click)="watch(mv)">x</span>
    </li>
  </mat-sidenav>

  <div class="w-100 h-100">
    <cdk-virtual-scroll-viewport *ngIf='movies.length > 0' itemSize="500" (scrolledIndexChange)="nextBatch($event)"
      style='height:90vh'>
      <div fxLayout="row wrap" fxLayoutAlign="center stretch" class="mt1">
        <mat-card class="card grow ma1 " [style.background-color]="getColor(mv.movieId)"
          style="display:inline-block!important; width: 15vw;min-width:250px; max-width:350px;"
          *ngFor="let mv of movies">
          <mat-card-header (click)="openInfos(mv)">
            <mat-card-title style='font-size:14px!important;'>{{mv.title}}
            </mat-card-title>
            <mat-card-subtitle>{{ (mv.genres.length > 30) ? (mv.genres | slice:0:25) + '...' : mv.genres }}
            </mat-card-subtitle>
          </mat-card-header>
          <div style='position:relative;' class='pointer w-100' (click)="openInfos(mv)">
            <img mat-card-image
              [src]="mv.data.Poster ? (mv.data.Poster.substring(0,4) == 'http' ? mv.data.Poster : 'assets/images/not_found.png') : 'assets/images/not_found.png'">
            <p class='plot_container'>
              {{mv.data.Plot}}</p>
          </div>
          <mat-card-actions class='mt2 center' style="text-align: center;">
            <div fxLayout="row wrap" fxLayoutAlign="center stretch" class="w100">
              <button mat-button class="thumbup" (click)="like(mv)">
                <mat-icon>thumb_up</mat-icon>
              </button>
              <button mat-button class="watched" [style.color]="isWatched(mv.movieId)" (click)="watch(mv)">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
              <button mat-button class="thumbdown" (click)="dislike(mv)">
                <mat-icon>thumb_down</mat-icon>
              </button>
            </div>
          </mat-card-actions>

        </mat-card>
      </div>
      <div *ngIf="loading && movies.length" class='flex justify-center mt5 white' style='z-index:99; margin-top:-20px;'>
        <h1>L <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon> ADING
        </h1>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="smallscreen w-100" style="height:55px;">
  </div>
</mat-sidenav-container>

<div *ngIf="!movies.length" class='flex justify-center mt5 white' style='z-index:99;'>
  <h1>L <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon> ADING
  </h1>
</div>