@media (max-width:600px){
    .card{
        width:90%!important;
        min-width: 90% !important;
    }
}

.mat-card{
    background: transparent!important;
}

/deep/ .mat-dialog-container{
    padding:0px!important;
    background-color: #1e272ee0!important;
}

img{
    max-width:none; 
    height:350px; 
    object-fit: cover;
  }